body,html{
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #ccc;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
header {
    margin-bottom: 10px;
}
footer {
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
}
button {
    display: block;
    width: 100%;
    padding: 5px;
}
canvas {
    border: 1px solid black;
    cursor: crosshair;
}
p.infoText {
    line-height: 24px;
    margin: 0;
}
#outerContainer {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    padding: 20px;
    box-shadow:  0 0 10px 5px #888;
    height: 100%;
}
#mainContainer {
    display: flex;
    flex-direction: row;
}
#gridContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
#grid {
    max-width: 100%;
}
#list {
    overflow: scroll;
    max-height: 800px;
    margin: 0;
    padding: 0 0 0 10px;
}
#list li {
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 5px;
    justify-content: space-between;
}
.listName {
    flex-grow: 1;
}
.box {
    width: 1em;
    min-width: 1em;
    height: 1em;
    display: inline-block;
    border: 1px solid black;
}
#settings li.selected {
    background-color: #006BB7;
    color: white;
}
#settings {
    display: flex;
    flex-direction: column;
}
#settings ul{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    cursor: pointer;
}
#settings li {
    padding: 0 3px;
}
#settings li:hover {
    background-color: #006BB722;
}
#pokemonSelectionList {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    margin: 0 4px;
    border: 1px solid black;
}
.pokemonListItemTop {
    display: flex;
    flex-direction: row;
    line-height: 20px;
}
#pokemonSelectionList li.expanded .pokemonListItemTop {
    padding-bottom: 4px;
}
.pokemonListItemTop label {
    flex-grow: 1;
}
.pokemonListItemShowDetails {
    position: relative;
    top: 0px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    transform: rotate(135deg);
    margin-right: 15px;
    margin-left: 10px;
    transition-duration: 0.4s;
    transition-property: transform, top;
}
.pokemonListItemShowDetails span {
    border: 1px solid green;
    align-items: center;
}
.pokemonListItemDetails {
    display: none;
    padding: 0 4px;
}
#pokemonSelectionList > li {
    padding: 2px 0;
    border-bottom: 1px solid #626262;
}
#pokemonSelectionList li.expanded .pokemonListItemDetails {
    display: inherit;
}
#pokemonSelectionList li.expanded .pokemonListItemShowDetails {
    transform: rotate(315deg);
    top: 10px;
}
.pokemonListItemDetails h3 {
    border-top: 1px dotted grey;
    margin: 0;
    padding: 4px 0 4px 0;
    font-size: 16px;
    font-weight: bold;
}
.pokemonListItemDetailsQuickMoves, .pokemonListItemDetailsChargedMoves {
    margin-bottom: 4px ! important;
}
h2 {
    margin-bottom: 5px;
    font-size: 18px;
}
#settings ul {
    border: 1px solid black;
}
#settings .pokemonListItemDetails ul {
    border: none;
}
#pokemonFilter {
    margin-bottom: 5px;
}
#pokemonSelectionLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    margin: 5px 0;
}
#pokemonSelectionLinks ul li{
    display: inline-block;
    margin: 0 5px;
    color: #006BB7;
    text-decoration: underline;
    font-size: 0.8em;
}
#appInfo {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#appInfo a {
    color: #006BB7;
    text-decoration: underline;
}
#pokemonSelectionLinks ul li:hover {
    background-color: inherit;
}
h1 {
    margin: 0;
}
#gridSizeList li {
    text-transform: capitalize;
}
@media (max-width: 900px) {
    #mainContainer {
        flex-direction: column;
        align-items: center;
    }
    header {
        text-align: center;
    }
    #appInfo {
        justify-content: center;
    }
    #grid {
        margin: 0 auto;
    }
}