body {
    font-family: 'Open Sans', sans-serif;
}
#grid, #graph {
    border: 1px solid black;
    cursor: crosshair;
}
div.box {
    border: 1px solid black;
}
p {
    min-height: 24px;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: row;
}
#list {
    max-height: 600px;
    overflow-y: scroll;
    margin: 0;
    padding: 0 0 0 10px;
}
#list li {
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 5px;
    justify-content: space-between;
}
.listName {
    flex-grow: 1;
}
.box {
    width: 1em;
    height: 1em;
    display: inline-block;
}
#settings li.selected {
    background-color: #006BB7;
    color: white;
}
#settings {
    display: flex;
    flex-direction: row;
}
#settings ul{
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid red;
    overflow-y: scroll;
    cursor: pointer;
}
#settings li {
    padding: 0 3px;
}
#settings li:hover {
    background-color: #006BB722;
}
.settingsColumn label, .settingsColumn input{
    margin: 4px 0;
}
.settingsColumn {
    display: flex;
    flex-direction: column;
    width: 100px;
    max-width: 100px;
    max-height: 400px;
    margin: 0 4px;
}